.loginSelection {
    border: 2px solid #d296ff;
    height: 20vh;
    border-radius: 16px;
    flex: 1;
    cursor:pointer;
    
}

.loginSelection:hover{
    background-color:#d296ff;
    color: white;
}